/* Голова */ 

header {
    background-color: white;
    color: white;
    margin: 0 0 15px 0;
}

.section-header {
    display: flex;
    padding: 15px;
    background: linear-gradient(
        to top right, 
        pink 18%, 
        rgb(196, 155, 185),
        rgb(128, 133, 72) 71% );
}

.title-section {
    border: 1px solid rgb(141, 78, 78);
    padding: 0px 260px 0px 40px;
    display: flex;
}

.title-section a {
    padding: 13px 0px 0px 15px;
    color: rgb(139, 167, 175);
    font-size: 25px;
    text-decoration: none;
}

.title-section a + a {
    color: rgb(17, 31, 20);
    margin: 0 0 0 10px;
}

.header-section {
    width: 1800px;
    border: 1px solid rgb(125, 126, 100);
}

nav.header-navigation {
    padding: 0 0 0 420px;
}

ul.header-ul {
    display: flex;
    gap: 68px;
}

ul.header-ul>li {
    list-style-type: none;
}

ul.header-ul>li>a {
    text-decoration: none;
    color: rgb(177, 224, 220)
}
