/* Голова */ 

header {
    background-color: black;
    color: white;
    margin: 0 0 15px 0;
}

.section-header {
    display: flex;
}

.title-section {
    border: 1px solid white;
    padding: 3px 260px 3px 40px;
}

.header-section {
    width: 1800px;
    border: 1px solid rgb(251, 255, 35);
    padding: 10px 0 0 0;
}

nav.header-navigation {
    padding: 0 0 0 420px;
}

ul.header-ul {
    display: flex;
    gap: 68px;
}

ul.header-ul>li {
    list-style-type: none;
}

ul.header-ul>li>a {
    text-decoration: none;
    color: rgb(177, 224, 220)
}



/* Тело */ 
main {
    background-color: rgb(109, 98, 98);
    color: white;
}

#p-n1 {
    margin: 20px;
    border: 1px red solid;
    text-align: justify;
    text-indent: 30px;
}

.art-l {
    display: flex;
    border: 1px solid red;
    margin: 20px;
}

.art-l section {
    border-radius: 10px;
    margin: 30px 420px;
    padding: 30px 20px;;
    border: 1px green solid;
    display: flex;
    justify-content: center; 
    align-items: center;
}

#Login {
    padding: 30px 70px;
}

#Register {
    padding: 30px;
}








/* Ноги */ 
footer {
    background-color: rgb(0, 0, 0);
    color: white;
}