/* Голова */ 

header {
    background-color: black;
    color: white;
    margin: 0 0 15px 0;
}

.header-section {
    display: flex;
}

ul {
    display: flex;
    gap: 30px;
}

ul>li {
    list-style-type: none;
}

ul>li>a {
    text-decoration: none;
    color: rgb(177, 224, 220)
}



/* Тело */ 
main {
    background-color: rgb(187, 187, 206);
}

#p-n1 {
    margin: 20px;
    border: 1px red solid;
    text-align: justify;
    text-indent: 30px;
}

.art-l {
    display: flex;
    width: 100px;
    height: 100px;
}

.art-l section {
    border-radius: 10px;
    margin: 30px 30px;
    padding: 30px 20px;;
    border: 1px green solid;
    display: flex;
    justify-content: center; 
    align-items: center;
}


/* Ноги */ 
footer {
    background-color: green;
}